.Dark{
  *{
  background-color: black;
  }
  background-color: black;
  color: white;
 
}

.Light{
  background-color: white;
  color: blue;
  html {
    background-color: white;
  }
}

html {
  background-color: black;
}